# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv
ENV/

# Flask
instance/
.webassets-cache

# Base de datos local
*.db
*.sqlite
*.sqlite3

# Variables de entorno
.env
.env.local

# IDEs
.vscode/
.idea/
*.swp
*.swo
